
$background-1: #000000;
$background-2: #141414;
$background-3: #212121;

$main-navbar: #E3E9ED;

$main-divider: #292929;
$second-divider: #303030;

$disabled-control: #404040;

$main-text: #FFFFFF;
$second-text: #E1E1E1;
$third-text: #C8C8C8;
$fourth-text: #6E6E6E;

$main-danger-alert: #E83A3A;
$second-danger-alert:#F55D5D;
$third-danger-alert: #F67B7B;
$fourth-danger-alert: #FD9393;

$main-warning-alert: #FFC328;
$second-warning-alert: #FFCF52;
$third-warning-alert: #FFDD86;
$fourth-warning-alert: #FFE8AC;

$main-success-alert: #6FCF97;

$main-button: #0078DA;