.bg-blur1{
    background: rgba($background-1, 0.1) !important;
    transition: 0.5s;
}

.bg-blur2{
    background: rgba($main-navbar, 0.2) !important;
    transition: 0.5s;
}

.navbar{
    z-index: 2;
    backdrop-filter: blur(0.2rem);      
    -webkit-backdrop-filter: blur(0.2rem);
}

.navbar-dark .navbar-nav .nav-link {
    color: $second-text ;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $third-text ;
}

@media (max-width: 575.98px){
    .dn-small{
        display: none !important;
    }
    .db-small{
        display: block !important;
    }
}

@media (min-width: 576px){
    .dn-medium{
        display: none !important;
    }
}